.slide-1-paragraph{
    width: 520px;
    font-size: 1rem;
    color: $white;
    text-align: center;
    margin-bottom: 1.875rem;
    cursor: default;
    user-select: none;
}
.slide-2-card-paragraph{
    font-size: 1rem;
    color: $white;
    line-height: 1.875rem;
}
.slide-2-text-paragraph{
    font-size: 1rem;
    color:$grey;
    margin-bottom: 1.25rem;
    cursor: default;
    user-select: none;
}
.slide-2-card-paragraph{
    font-size: 1rem;
    color: $white;
    line-height: 1.875rem;
}
.slide-3-card-paragraph{
    font-size: 1rem;
    color: $grey;
    margin-bottom: 0.625rem;
}
.slide-4-card-paragraph{
    font-size: 1rem;
    color: $grey;
    margin: 0rem 0.625rem;
    span{
        color: $main-color;
        font-size: 3.125rem;
        font-weight: bold;
        background: none;
        padding: 0rem;
    }
}
.slide-5-card-paragraph{
    font-size: 1rem;
    color: $grey;
    margin: 0.625rem 1.875rem;
    line-height: 1.25rem;
}
.slide-5-card-learn-more{
    margin: 0.625rem 1.875rem;
    color: $main-color;
    margin-bottom: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    &:hover{
        text-decoration: underline;
        color: $main-color;
    }
}
.slide-5-contact-us-form-paragraph{
    font-size: 1rem;
    color: $white;
    margin-bottom: 1.25rem;
    padding: 0.625rem 1.875rem;
}
.slide-6-card-paragraph{
    
        font-size: 1.25rem;
        color: $main-color;
        line-height: 1.875rem;
        cursor: default;
        user-select: none;
    
}
.slide-7-header{
    font-size: 0.75rem;
    color:$main-color;
    cursor: default;
    user-select: none;
    margin: 1.25rem 0rem;
}
.slide-7-paragraph{
    font-size: 1rem;
    color: $grey;
    cursor: default;
    user-select: none;
    width: 50%;
}
.slide-7-card-paragraph{
    font-size: 0.875rem;
    color: $grey;
    margin: 1.25rem 0rem;
}
.slide-8-header{
    font-size: 0.75rem;
    color: $main-color;
    cursor: default;
    user-select: none;
    margin: 1.25rem 0rem;
}
.slide-8-card-paragraph{
    font-size: 1rem;
    color: $grey;
    padding: 0.625rem 0.625rem;
}
.slide-9-header{
    font-size: 1rem;
    letter-spacing: 1.4px;
    padding: 0.625rem 0rem;
}
.slide-9-contact-us-paragraph{
    font-size: 1rem;
    color: $grey;
    margin: 0.625rem 0.625rem;
    line-height: 2rem;
}
.footer-paragraph{
    font-size: 0.75rem;
    color: $white;
    margin: 0.625rem 0.625rem;
    cursor: default;
    user-select: none; 
}